# 1. Create a 3x3x3 array with random values

In [2]:
import numpy as np
np.random.random((3,3,3,))  #representing rows,columns and channels....

array([[[0.0245316 , 0.02893373, 0.37357822],
        [0.28747064, 0.24078309, 0.83064006],
        [0.19949779, 0.49230137, 0.80135742]],

       [[0.35056737, 0.668819  , 0.57118139],
        [0.7294834 , 0.99431289, 0.97226673],
        [0.98715705, 0.52808147, 0.90250284]],

       [[0.23235805, 0.87508889, 0.09026321],
        [0.75985631, 0.7642637 , 0.29107037],
        [0.69115012, 0.540224  , 0.86835087]]])

# 2.Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

In [9]:
v=[1,2,3,4]      #creating a matrix with 1,2,3,4 just below the diagonal.................
np.diag(v,-1)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [11]:

np.diag([1,2,3,4],-1)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

# 3.Create a 8x8 matrix and fill it with a checkerboard pattern

In [36]:
n=np.zeros((8,8),dtype=int)
n[1::2,::2]=1
n[::2,1::2]=1
print(n)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

# 4. Normalize a 5x5 random matrix

In [49]:
k=np.random.random((5,5))

kmax,kmin=k.max(),k.min()
k=(k-kmin)/(kmax-kmin)
print(k)

[[0.32846175 1.         0.58264334 0.22083628 0.41396887]
 [0.46421012 0.34953826 0.25090734 0.40931282 0.64305814]
 [0.41958828 0.8345489  0.56969155 0.63423061 0.88613034]
 [0.96995604 0.         0.27464272 0.88379515 0.24449922]
 [0.70061136 0.89998711 0.13563543 0.98243429 0.31223575]]

# 5.  How to find common values between two arrays?

'''to find the common values betwenn two arrays the function is numpy.intersect1d '''

In [74]:
a=np.array([1,2,3,4,5,6,7,8])
b=np.array([6,7,11,12,13])
np.intersect1d(a,b)

array([6, 7])

In [79]:
a=np.array([[1,2,3],[4,5,6]])
print(a)
b=np.array([[2,5,8],[7,6,5]])
print(b)
np.intersect1d(a,b)

[[1 2 3]
 [4 5 6]]
[[2 5 8]
 [7 6 5]]

array([2, 5, 6])

# 6.How to get the dates of yesterday, today and tomorrow?

In [66]:
k=np.datetime64('today','D')
print(k)

2020-07-26

In [71]:
yesterday=np.datetime64('today','D')-np.timedelta64(1,'D')
print(yesterday)
today=np.datetime64('today','D')
print(today)
tommorow=np.datetime64('today','D')+np.timedelta64(1,'D')
print(tommorow)

2020-07-25
2020-07-26
2020-07-27

# 7. Consider two random array A and B, check if they are equal

To check comman values between two arrays the function that can be used is numpy.allclose()

In [72]:
a=np.array([1,2,3,4,5])
b=np.array([1,2,3,4,5])
equal=np.allclose(a,b)
print(a)
print(b)
print(equal)

[1 2 3 4 5]
[1 2 3 4 5]
True

In [73]:
f=np.random.random((3,3))
print(f)
g=np.random.random((3,3))
print(g)
equal=np.allclose(f,g)
print(equal)

[[0.59638699 0.47958777 0.95975394]
 [0.99880782 0.96534422 0.9489618 ]
 [0.97671455 0.29641488 0.86329732]]
[[0.44169173 0.9674938  0.11106337]
 [0.92849092 0.26795814 0.1508092 ]
 [0.20240814 0.74798398 0.85059966]]
False

# 8.Create random vector of size 10 and replace the maximum value by 0

In [84]:
z=np.random.random(10)
print(z)
z[z.argmax()]=0
print(z)

[0.77488334 0.73978428 0.61465773 0.9390151  0.37580894 0.64946364
 0.73647925 0.69202527 0.47733809 0.99830576]
[0.77488334 0.73978428 0.61465773 0.9390151  0.37580894 0.64946364
 0.73647925 0.69202527 0.47733809 0.        ]

# 9. How to print all the values of an array?

In [20]:
arr=np.arange(1005)
np.set_printoptions(threshold=np.inf)
print(arr)

[   0    1    2    3    4    5    6    7    8    9   10   11   12   13
   14   15   16   17   18   19   20   21   22   23   24   25   26   27
   28   29   30   31   32   33   34   35   36   37   38   39   40   41
   42   43   44   45   46   47   48   49   50   51   52   53   54   55
   56   57   58   59   60   61   62   63   64   65   66   67   68   69
   70   71   72   73   74   75   76   77   78   79   80   81   82   83
   84   85   86   87   88   89   90   91   92   93   94   95   96   97
   98   99  100  101  102  103  104  105  106  107  108  109  110  111
  112  113  114  115  116  117  118  119  120  121  122  123  124  125
  126  127  128  129  130  131  132  133  134  135  136  137  138  139
  140  141  142  143  144  145  146  147  148  149  150  151  152  153
  154  155  156  157  158  159  160  161  162  163  164  165  166  167
  168  169  170  171  172  173  174  175  176  177  178  179  180  181
  182  183  184  185  186  187  188  189  190  191  192  193  194  195
  196  197  198  199  200  201  202  203  204  205  206  207  208  209
  210  211  212  213  214  215  216  217  218  219  220  221  222  223
  224  225  226  227  228  229  230  231  232  233  234  235  236  237
  238  239  240  241  242  243  244  245  246  247  248  249  250  251
  252  253  254  255  256  257  258  259  260  261  262  263  264  265
  266  267  268  269  270  271  272  273  274  275  276  277  278  279
  280  281  282  283  284  285  286  287  288  289  290  291  292  293
  294  295  296  297  298  299  300  301  302  303  304  305  306  307
  308  309  310  311  312  313  314  315  316  317  318  319  320  321
  322  323  324  325  326  327  328  329  330  331  332  333  334  335
  336  337  338  339  340  341  342  343  344  345  346  347  348  349
  350  351  352  353  354  355  356  357  358  359  360  361  362  363
  364  365  366  367  368  369  370  371  372  373  374  375  376  377
  378  379  380  381  382  383  384  385  386  387  388  389  390  391
  392  393  394  395  396  397  398  399  400  401  402  403  404  405
  406  407  408  409  410  411  412  413  414  415  416  417  418  419
  420  421  422  423  424  425  426  427  428  429  430  431  432  433
  434  435  436  437  438  439  440  441  442  443  444  445  446  447
  448  449  450  451  452  453  454  455  456  457  458  459  460  461
  462  463  464  465  466  467  468  469  470  471  472  473  474  475
  476  477  478  479  480  481  482  483  484  485  486  487  488  489
  490  491  492  493  494  495  496  497  498  499  500  501  502  503
  504  505  506  507  508  509  510  511  512  513  514  515  516  517
  518  519  520  521  522  523  524  525  526  527  528  529  530  531
  532  533  534  535  536  537  538  539  540  541  542  543  544  545
  546  547  548  549  550  551  552  553  554  555  556  557  558  559
  560  561  562  563  564  565  566  567  568  569  570  571  572  573
  574  575  576  577  578  579  580  581  582  583  584  585  586  587
  588  589  590  591  592  593  594  595  596  597  598  599  600  601
  602  603  604  605  606  607  608  609  610  611  612  613  614  615
  616  617  618  619  620  621  622  623  624  625  626  627  628  629
  630  631  632  633  634  635  636  637  638  639  640  641  642  643
  644  645  646  647  648  649  650  651  652  653  654  655  656  657
  658  659  660  661  662  663  664  665  666  667  668  669  670  671
  672  673  674  675  676  677  678  679  680  681  682  683  684  685
  686  687  688  689  690  691  692  693  694  695  696  697  698  699
  700  701  702  703  704  705  706  707  708  709  710  711  712  713
  714  715  716  717  718  719  720  721  722  723  724  725  726  727
  728  729  730  731  732  733  734  735  736  737  738  739  740  741
  742  743  744  745  746  747  748  749  750  751  752  753  754  755
  756  757  758  759  760  761  762  763  764  765  766  767  768  769
  770  771  772  773  774  775  776  777  778  779  780  781  782  783
  784  785  786  787  788  789  790  791  792  793  794  795  796  797
  798  799  800  801  802  803  804  805  806  807  808  809  810  811
  812  813  814  815  816  817  818  819  820  821  822  823  824  825
  826  827  828  829  830  831  832  833  834  835  836  837  838  839
  840  841  842  843  844  845  846  847  848  849  850  851  852  853
  854  855  856  857  858  859  860  861  862  863  864  865  866  867
  868  869  870  871  872  873  874  875  876  877  878  879  880  881
  882  883  884  885  886  887  888  889  890  891  892  893  894  895
  896  897  898  899  900  901  902  903  904  905  906  907  908  909
  910  911  912  913  914  915  916  917  918  919  920  921  922  923
  924  925  926  927  928  929  930  931  932  933  934  935  936  937
  938  939  940  941  942  943  944  945  946  947  948  949  950  951
  952  953  954  955  956  957  958  959  960  961  962  963  964  965
  966  967  968  969  970  971  972  973  974  975  976  977  978  979
  980  981  982  983  984  985  986  987  988  989  990  991  992  993
  994  995  996  997  998  999 1000 1001 1002 1003 1004]

# 10.Subtract the mean of each row of a matrix

In [22]:
x=np.random.rand(5,5)
print(x)
y=x-x.mean(axis=1,keepdims=True)
print(y)

[[0.1313368  0.78465497 0.41966315 0.4458907  0.05993801]
 [0.86998416 0.26950774 0.91180649 0.21720732 0.62162922]
 [0.18206834 0.10457319 0.66251222 0.4236683  0.9156392 ]
 [0.71766732 0.70917398 0.6200037  0.25720465 0.56238313]
 [0.94017473 0.55012461 0.21612307 0.09261821 0.70816397]]
[[-0.23695993  0.41635824  0.05136642  0.07759397 -0.30835871]
 [ 0.29195717 -0.30851924  0.3337795  -0.36081967  0.04360224]
 [-0.27562391 -0.35311906  0.20481997 -0.03402395  0.45794696]
 [ 0.14438077  0.13588742  0.04671714 -0.3160819  -0.01090342]
 [ 0.43873381  0.04868369 -0.28531785 -0.40882271  0.20672305]]

# 12.How to get the diagonal of a dot product?

# 13.How to find the most frequent value in an array?

In [28]:
h=np.random.randint(0,10,40)
print(h)
print(np.bincount(h).argmax())

[3 0 6 7 8 3 7 9 3 8 4 6 2 0 8 7 1 0 8 7 3 8 5 1 5 2 1 4 7 0 1 3 3 7 7 0 8
 9 3 7]
7

# 14.How to get the n largest values of an array

In [39]:
t=np.arange(10)
print(t)
np.random.shuffle(x)
print(t[np.argsort(t)[-1:]])

[0 1 2 3 4 5 6 7 8 9]
[9]

# 15.How to create a record array from a regular array?

In [41]:
w=np.array([1,2,3,4])
e=np.array(['red','blue','pink','orange'])
np.core.records.fromarrays([w,e])

rec.array([(1, 'red'), (2, 'blue'), (3, 'pink'), (4, 'orange')],
          dtype=[('f0', '<i4'), ('f1', '<U6')])